{
    "openapi": "3.0.3",
    "info": {
        "title": "The Loono API",
        "description": "The Loono API for the mobile application.",
        "contact": {
            "name": "The Loono",
            "url": "https://www.loono.cz/"
        },
        "license": {
            "name": "MIT license",
            "url": "http://www.opensource.org/licenses/mit-license.html"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://loono.ceskodigital.net:443",
            "description": "Inferred Url"
        }
    ],
    "tags": [
        {
            "name": "Onboarding",
            "description": "The user onboarding creates an account and store basic info about user."
        }
    ],
    "paths": {
        "/onboard": {
            "post": {
                "tags": [
                    "Onboarding"
                ],
                "summary": "Onboards a new user",
                "description": "A creation of a new account with all information needed for the onboarding.",
                "operationId": "onboardUsingPOST",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/onboard"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "examination": {
                "title": "examination",
                "type": "object",
                "properties": {
                    "examinationType": {
                        "type": "string",
                        "description": "examination type",
                        "enum": [
                            "BREAST_SELF",
                            "COLONOSCOPY",
                            "DENTIST",
                            "DERMATOLOGIST",
                            "GENERAL_PRACTITIONER",
                            "GYNECOLOGIST",
                            "MAMMOGRAM",
                            "OPHTHALMOLOGIST",
                            "TESTICULAR_SELF",
                            "TOKS",
                            "ULTRASOUND_BREAST",
                            "UROLOGIST",
                            "VENEREAL_DISEASES"
                        ]
                    },
                    "lastVisitInterval": {
                        "type": "string",
                        "description": "last visit interval",
                        "enum": [
                            "LAST_FIVE_YEARS",
                            "LAST_TWO_YEARS",
                            "LAST_YEAR"
                        ]
                    },
                    "lastVisitMonth": {
                        "type": "integer",
                        "description": "last visit month",
                        "format": "int32"
                    },
                    "lastVisitYear": {
                        "type": "integer",
                        "description": "last visit year",
                        "format": "int32"
                    }
                },
                "description": "Undergone examination data"
            },
            "onboard": {
                "title": "onboard",
                "type": "object",
                "properties": {
                    "examinations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/examination"
                        }
                    },
                    "user": {
                        "$ref": "#/components/schemas/user"
                    }
                },
                "description": "All necessary data for the Onboarding"
            },
            "user": {
                "title": "user",
                "type": "object",
                "properties": {
                    "birthdateMonth": {
                        "type": "integer",
                        "description": "birthdate month of user",
                        "format": "int32"
                    },
                    "birthdateYear": {
                        "type": "integer",
                        "description": "birthdate year of user",
                        "format": "int32"
                    },
                    "email": {
                        "type": "string",
                        "description": "primary email"
                    },
                    "notificationEmail": {
                        "type": "string",
                        "description": "notification email, if differs from the primary one which is related to the account"
                    },
                    "salutation": {
                        "type": "string",
                        "description": "user salutation"
                    },
                    "sex": {
                        "type": "string",
                        "enum": [
                            "FEMALE",
                            "MALE",
                            "NON_BINARY"
                        ]
                    },
                    "uid": {
                        "type": "string",
                        "description": "unique user identifier"
                    }
                },
                "description": "Onboarded user data"
            }
        }
    }
}
