{
    "swagger": "2.0",
    "info": {
        "description": "The Loono API for the mobile application.",
        "version": "1.0",
        "title": "The Loono API",
        "contact": {
            "name": "The Loono",
            "url": "https://www.loono.cz/"
        },
        "license": {
            "name": "MIT license",
            "url": "http://www.opensource.org/licenses/mit-license.html"
        }
    },
    "host": "loono.ceskodigital.net",
    "basePath": "/",
    "tags": [
        {
            "name": "Onboarding",
            "description": "The user onboarding creates an account and store basic info about user."
        }
    ],
    "paths": {
        "/onboard": {
            "post": {
                "tags": [
                    "Onboarding"
                ],
                "summary": "Onboards a new user",
                "description": "A creation of a new account with all information needed for the onboarding.",
                "operationId": "onboardUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "in": "body",
                        "name": "onboard",
                        "description": "All collected information to the account creation.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/onboard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        }
    },
    "definitions": {
        "examination": {
            "type": "object",
            "properties": {
                "examinationType": {
                    "type": "string",
                    "description": "examination type",
                    "enum": [
                        "BREAST_SELF",
                        "COLONOSCOPY",
                        "DENTIST",
                        "DERMATOLOGIST",
                        "GENERAL_PRACTITIONER",
                        "GYNECOLOGIST",
                        "MAMMOGRAM",
                        "OPHTHALMOLOGIST",
                        "TESTICULAR_SELF",
                        "TOKS",
                        "ULTRASOUND_BREAST",
                        "UROLOGIST",
                        "VENEREAL_DISEASES"
                    ]
                },
                "lastVisitInterval": {
                    "type": "string",
                    "description": "last visit interval",
                    "enum": [
                        "LAST_FIVE_YEARS",
                        "LAST_TWO_YEARS",
                        "LAST_YEAR"
                    ]
                },
                "lastVisitMonth": {
                    "type": "integer",
                    "format": "int32",
                    "description": "last visit month"
                },
                "lastVisitYear": {
                    "type": "integer",
                    "format": "int32",
                    "description": "last visit year"
                }
            },
            "title": "examination",
            "description": "Undergone examination data"
        },
        "onboard": {
            "type": "object",
            "properties": {
                "examinations": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/examination"
                    }
                },
                "user": {
                    "$ref": "#/definitions/user"
                }
            },
            "title": "onboard",
            "description": "All necessary data for the Onboarding"
        },
        "user": {
            "type": "object",
            "properties": {
                "birthdateMonth": {
                    "type": "integer",
                    "format": "int32",
                    "description": "birthdate month of user"
                },
                "birthdateYear": {
                    "type": "integer",
                    "format": "int32",
                    "description": "birthdate year of user"
                },
                "email": {
                    "type": "string",
                    "description": "primary email"
                },
                "notificationEmail": {
                    "type": "string",
                    "description": "notification email, if differs from the primary one which is related to the account"
                },
                "salutation": {
                    "type": "string",
                    "description": "user salutation"
                },
                "sex": {
                    "type": "string",
                    "enum": [
                        "FEMALE",
                        "MALE",
                        "NON_BINARY"
                    ]
                },
                "uid": {
                    "type": "string",
                    "description": "unique user identifier"
                }
            },
            "title": "user",
            "description": "Onboarded user data"
        }
    }
}
